<?xml version="1.0"?>
<clickhouse>
    <logger>
        <level>warning</level>
        <log>/home/chatelet/mangrove-search/clickhouse/server.log</log>
        <errorlog>/home/chatelet/mangrove-search/clickhouse/server.err.log</errorlog>
    </logger>
    <tcp_port>9000</tcp_port>
    <http_port>8123</http_port>
    <listen_host>127.0.0.1</listen_host>
    <path>/home/chatelet/mangrove-search/clickhouse/data/</path>
    <tmp_path>/home/chatelet/mangrove-search/clickhouse/tmp/</tmp_path>
    <users_config>users.xml</users_config>
    <default_profile>default</default_profile>
    <mark_cache_size>5368709120</mark_cache_size>
    <max_concurrent_queries>10</max_concurrent_queries>
</clickhouse>
